# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [1]:
# string.lstrip()
name = '    hJohn Smith'
print(name.lstrip(' ' 'h'))

John Smith

##### .rstrip()

In [2]:
# string.rstrip()
name_bill = 'Bill Ross    th'
print(name_bill.rstrip(" ""th"))

Bill Ross

##### .strip()

In [9]:
# string.strip()
president = "    John Smith   ax"
print(president.strip(' ' 'ax'))

John Smith

##### .title()

In [11]:
# string.title()
obama = 'barak obama'
print(obama.title())

Barak Obama

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [10]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
for name in names:
    print(name.strip().title())

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [12]:
# min(list)
numbers = [4,2,97,54,16]
print(min(numbers))

2

##### max()

In [13]:
# max(list)
print(max(numbers))

97

##### sum()

In [14]:
# sum(list)
print(sum(numbers))

173

##### sorted()

In [18]:
# sorted(list)
print(numbers)
sorted(numbers)

[4, 2, 97, 54, 16]

[2, 4, 16, 54, 97]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [24]:
# list.sort()
print(f'before the sort: {numbers}')
print(numbers)
# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

before the sort: [2, 4, 16, 54, 97]
[2, 4, 16, 54, 97]

##### Copying a List

In [25]:
# [:] copies a list, doesn't alter original
list_1 = numbers[:]
print(list_1)
print(numbers)

[2, 4, 16, 54, 97]
[2, 4, 16, 54, 97]

##### 'in' keyword

In [34]:
l_teachers = ['Joel', 'Derek', 'Brian', 'Sam', 'Nate']

if 'Derek' in l_teachers:
    print('Teacher')
else:
    print('Not a Teacher')
    
for name in l_teachers:
    if 'derek'.title() in l_teachers:
        print('Coding Temple Teacher')
        break
    else: 
        print('Not a Teacher')
        break

Teacher
Coding Temple Teacher

##### 'not in' keyword

In [35]:
if 'zack' not in l_teachers:
    print('Not a Teacher')
else:
    print('A Teacher')

Not a Teacher

##### Checking an Empty List

In [36]:
# if l_1: or if l_1 = []
l_2 = []
if l_2 == []:
    print('list is empty')

list is empty

##### Removing Instances with a Loop

In [43]:
# while, remove
names = ['Conner', 'Joel', 'Max', 'Rob', 'Evan']
while 'Evan' in names:
    names.remove('Evan')
print(names)
names.append('Max')
print(names)
for name in names:
    if name == 'Max':
        names.remove('Max')
print(names)

['Conner', 'Joel', 'Max', 'Rob']
['Conner', 'Joel', 'Max', 'Rob', 'Max']
['Conner', 'Joel', 'Rob']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [61]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
no_dupe = []

for name in names:
    if type(name) is str:
        name = name.title()
        if name not in no_dupe:
            no_dupe.append(name)
print(no_dupe)

['Connor', 'Bob', 'Evan', 'Max', 'Kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [65]:
# number comprehension

# With a regular for loop

nums = []

# for i in range(50):
#     nums.append(i)
# print(nums)

# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition
#[variable, transform, condition]

num = [i for i in range(50)]
print(num)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [67]:
# square number comprehension
number_squared = [i**2 for i in range(11)]
print(number_squared)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [68]:
# string comprehension
l_names = ['Connor', 'Max', 'Evan', 'Rob']

first_char_comp = [name[0] for name in l_names]
print(first_char_comp)

['C', 'M', 'E', 'R']

In [71]:
# Using if statement, we will create list comp from a conditional statement
c_names = [first_name for first_name in l_names if first_name[0] == 'C']

print(c_names)

# For Loop Version
c_names_reg = []
for first_name in l_names:
    if first_name[0] == 'C':
        c_names_reg.append(first_name)
print(c_names_reg)

['Connor']
['Connor']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [ ]:
tup_1 = 1,2,3 # first way of creating tuple
tup_2 = (1,2,3) # second way of creating tuple

##### sorted()

In [72]:
tup_3 = (20,5,1,3,9,45)
print(sorted(tup_3))

#make changes to tuple by sorted() because it turns it into a list

# to change back into a tuple, use tuple()

[1, 3, 5, 9, 20, 45]

##### Adding values to a Tuple

In [75]:
print(tup_3)

tup_3 = tup_3 + (5,) # comma has to be there to be considered tuple

print(tup_3)

(20, 5, 1, 3, 9, 45)
(20, 5, 1, 3, 9, 45, 5)

## Functions

##### User-Defined vs. Built-In Functions

In [76]:
# UDF 
def sayHello():
    return 'Hello World' # can put anything in return- lists, tuples, strings, etc.

# Calling a Function
sayHello()

'Hello World'

##### Accepting Parameters

In [79]:
# Order Matters 
# A variable/parameter can be of any type/object

def printFullName(first_name, last_name):
    return f'Hello {first_name} {last_name}'
printFullName('Joel','Carter')

'Hello Joel Carter'

##### Default Parameters

In [80]:
def printAgentName(first_name, last_name='Bond'):
    return f'The name is... {last_name}... {first_name} {last_name}'
printAgentName('James')

'The name is... Bond... James Bond'

##### Making an Argument Optional

In [92]:
def printHorseName(first, middle = '', last='Ed'):
   return f'Hello {first} {middle} {last}'
printHorseName('Mr' 'Horse')

'Hello MrHorse  Ed'

In [91]:
def printPetName(first, middle = '', last='Saqui'):
   return f'Hello {first} {middle} {last}'
printPetName('Cinnamon')

'Hello Cinnamon  Saqui'

##### Keyword Arguments

In [94]:
# last_name='Max', first_name='Smith' in the function call
def printSuperHero(name, power='flying'):
    return f'{name} and the superpower is: {power}'
printSuperHero('IronMan')
# see above

'IronMan and the superpower is: flying'

# Creating a start, stop, step function

In [98]:
def my_range(stop, start=0, step=1):
    for i in range(start, stop, step):
        print(i)
my_range(20,1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Returning Values

In [99]:
def addNums(num1,num2):
    return num1 + num2
addNums(3,2)

5

##### \*args/ **kwargs

In [104]:
# arguments and keyword arguments
def printArgs(num1, *args, **kwargs):
    print(num1)
    
    print('\n', args)
    
    print('\n', kwargs)
    
    # Loop through the args
    for arg in args:
        print(arg)
        
    # Loop through kwargs
    for kwarg in kwargs.values():
        print(kwarg)
        
printArgs(31, 'Dragon', first_name = 'Joel' )

31

 ('Dragon',)

 {'first_name': 'Joel'}
Dragon
Joel

##### Docstring

In [106]:
def printNames(list1):
    """
        printNames(list1)
        Function requires a list to be passed as parameter
        and will print the contents of the list.
        Expecting a list of names (strings) to be passed
    """
    for name in list1: 
        print(name)
        
printNames(['George', 'Ramon', 'Peter'])
help(printNames)

George
Ramon
Peter
Help on function printNames in module __main__:

printNames(list1)
    printNames(list1)
    Function requires a list to be passed as parameter
    and will print the contents of the list.
    Expecting a list of names (strings) to be passed

##### Using a User Function in a Loop

In [115]:
def printInput(answer):
    return answer
    
while True:
    ask = input('What do you want to do? Buy/Sell/Quit ')
    response = printInput(ask)
    
    if response.lower() == 'quit':
        break

What do you want to do? Buy/Sell/Quit quit

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [114]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']
def full_name(first_name_list, last_name_list):
    full_names = []
    
    for name in range(len(first_name_list)):
        full_names.append(f'{first_name_list[name]} {last_name_list[name]}')
    return full_names
full_name(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [119]:
# placement of variables declaration matters

number = 3 # Global Variable

def myFunc():
    num_3 = 6 # Local Function Variable (only available locally to this function)
    return num_3
print(number)
# print(num_3) Not Globally accessed at the moment
return_num = myFunc()
print(return_num)
myFunc()

3
6

6

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [139]:
# Use the following list - [1,11,14,5,8,9]
l_1 = [1,11,14,5,8,9]
l_2 = []
def under_10(l_1):
    for value in l_1:
        if value < 10:
            l_2.append(value)
    return l_2
under_10(l_1)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [150]:
list_1 = [1,2,3,4,5,6]
list_2 = [3,4,5,6,7,8,10]

def merged_list(list_1, list_2):
    return list_1 + list_2
answer = merged_list(list_1, list_2)
answer.sort()
print(answer)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]